#app, #main {
  width: 100vw;
  height: 100vh;
}

.dark {
  background-color: black;
  color: white;
}

.parent-container-cls {
    background-color: #eee;
    border-radius: 6px;
}

.margin-cls {
    margin-bottom: 10px;
    padding: 10px;
}